body {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-weight: 700;
}

code[class*="language-"],
pre[class*="language-"],
textarea {
    font-family: 'Fira Code', monospace;
}

.sidebar {
    width: 20vw;
}

#editor-container {
    width: 80vw;
    padding: 10px;
    display: none;
}

#editor-container.active {
    display: block;
}

.sidebar ul {
    padding: 10px;
}

.sidebar ul li.active {
    font-weight: bold;
}

.sidebar ul li {
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 10px;
}
